<div class="container">
<% if current_user.likes?(@tweet) %>
	<button type="button" class="btn btn-primary">
		<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Unlike
		<%= link_to "Unlike", tweet_like_path(@tweet), method: :delete %>
	</button>
<% else %>
	<button type="button" class="btn btn-primary">
		<span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Like
		<%= link_to "Like", tweet_like_path(@tweet), method: :post %>	
	</button>
<% end %>

<br>
<h4>Likes Count</h4>
<%= @tweet.likes.count %>

<br>

<h4>Liked by:</h4>
<% @tweet.likes.each do |like| %>
<br />
	<%= like.user.username %>
<br />
<% end %>

</div>